.task_list__item {
  margin-left: 0;
  margin-bottom: 10px;
  padding-left: 10px;
  display: block;
  background-color: #38786a;
  border-radius: 3px;
  min-height: 30px;
  color: white;
  line-height: 40px;
  vertical-align: middle;
  cursor: pointer;
}

.task_list__item:hover .material-icons {
  display: inline-block;
}
