.task_list__item {
  margin-left: 0;
  margin-bottom: 10px;
  padding: 10px 5px 10px 10px;
  display: block;
  background-color: #38786a;
  min-height: 40px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.task_list__item:hover .control {
  display: inline-block;
  width: 24px;
}

.task_list__item.checked {
  background-color: rgba(0, 0, 0, 0.3);
}

.task_list__item.checked span{
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.6);
}

.title {
  display: inline-block;
  width: 230px;
}
