.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  min-height: 100px;
  margin-right: 20px;
  background-color: #E1E2E1;
  padding-bottom: 50px;
}

.button {
  position: absolute;
  left: 176px;
  bottom: -24px;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: #00695c;
  cursor: pointer;
}

.card__add {
  display: inline;
  font-size: 48px;
  font-weight: 100;
  color: white;
}

.card__input {
  margin-left: 20px;
  background-color: #F5F5F6;
  width: 360px;
  border: grey;
  color: grey;
  border-color: #38786a;
  box-shadow: 0 0 15px #38786a;
}
