.list_name {
  margin-bottom: 15px;
  padding-left: 30px;
  color: white;
  min-height: 50px;
  background-color: #004c3f;
  font-weight: 300;
  font-size: 25px;
  line-height: 50px;
  vertical-align: middle;
  cursor: pointer;
}

.control__more {
  display: none;
  margin-top: 12px;
  margin-right: 12px;
  font-size: 24px;
}

.list_name:hover .control__more {
  display: inline-block;
  float: right;
}
