.task_input {
  min-height: 40px;
  font-size: 16px;
}

.task_input__textarea {
  padding: 0;
  margin: 10px 0px 6px 10px;
  resize: none;
  width: 260px;
  font-family: sans-serif;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  border: 0;
  overflow: hidden;
}

.task_input__textarea:focus {
  outline:none;
}

.control__input {
  font-size: 24px;
  font-weight: 100;
  cursor: pointer;
  color: inherit;
}

.button__icon {
  display: inline-block;
  float: right;
  padding: 0;
  display: inline-block;
  border: 0px;
  background-color: inherit;
  color: inherit;
}
