.task_add {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
}

.task_input {
  width: 240px;
  min-height: 40px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.75);
}

.control__add-task {
  margin: 0;
  width: 36px;
  height: 36px;
  font-size: 36px;
  font-weight: 100;
  color: rgba(0,0,0,0.4);
  cursor: pointer;
}

.button__icon {
  border: 0px;
  background-color: inherit;
}
